<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/updateservice-test.log</file>
        <append>false</append>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ************************************************************* -->
    <!-- Logging                                                       -->
    <!-- ************************************************************* -->

    <appender name="Perf4jStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="3000" />
        <appender-ref ref="FILE" />
    </appender>

    <logger name="org.perf4j.TimingLogger">
        <level value="INFO"/>
        <appender-ref ref="Perf4jStatistics"/>
    </logger>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

    <root level="trace">
        <appender-ref ref="FILE" />
    </root>
</configuration>
